@font-face{font-family:'fontello';src:url(../font/fontello.eot?91128198);src:url('../font/fontello.eot?91128198#iefix') format('embedded-opentype'),url(../font/fontello.woff2?91128198) format('woff2'),url(../font/fontello.woff?91128198) format('woff'),url(../font/fontello.ttf?91128198) format('truetype'),url('../font/fontello.svg?91128198#fontello') format('svg');font-weight:400;font-style:normal}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:"fontello";font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-user:before{content:'\e800'}.icon-phone:before{content:'\e801'}.icon-down-open:before{content:'\e802'}.icon-download:before{content:'\e803'}.icon-github-circled:before{content:'\f09b'}.icon-mail-alt:before{content:'\f0e0'}.icon-bitbucket:before{content:'\f171'}.icon-facebook-official:before{content:'\f230'}.icon-linkedin-squared:before{content:'\f30c'}
*{margin:0;padding:0;border:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
ul{list-style:none}
html{-webkit-box-sizing:border-box;box-sizing:border-box}
img,embed,iframe,object,audio,video{height:auto;max-width:100%}
body{font-family:'Montserrat',serif;font-size:16px}
.menu{width:15vh;height:40vmin;position:absolute;left:10px;}
.menu .hamburger{width:40px;height:35px;border:0;position:fixed;top:10px;left:10px;border-radius:10%;border-top:5px solid #4c4c4c;background:transparent;-webkit-transition:.3s -webkit-transform linear;transition:.3s -webkit-transform linear;transition:.3s transform linear;transition:.3s transform linear,.3s -webkit-transform linear;}
.menu .hamburger::before,.menu .hamburger::after{content:"";position:fixed;left:10px;top:15px;width:40px;border-top:5px solid #4c4c4c;-webkit-transform:translateY(10px);transform:translateY(10px);border-radius:20%}
.menu .hamburger::after{-webkit-transform:translateY(10px);transform:translateY(10px);top:30px}
.menu .menu__list{font-size:1.5em;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;width:48%;grid-gap:1.5em;position:fixed;padding:.5em;top:0;left:25%;z-index:15;background-color:#fff}
.visible{visibility:visible}
.hidden{visibility:hidden}
@media only screen and (min-width: 300px) and (max-width: 480px) {.menu .menu__list{background:rgba(102,102,102,0.8);height:78vh;width:29%;left:0;top:15%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}}
@media only screen and (min-width: 481px) and (max-width: 1200px) {.menu .menu__list{background:rgba(102,102,102,0.8);height:78vh;width:29%;left:0;top:8%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}}
.menu .menu__list .list__item{list-style-type:none;position:relative;text-align:center}
.menu .menu__list .list__item::before{content:'';position:absolute;width:0;left:0;bottom:0;height:3px;background-color:#000;-webkit-transform:translate(0%,100%);transform:translate(0%,100%);-webkit-transition:300ms width;transition:300ms width}
.menu .menu__list .list__item:hover::before{width:100%}
.menu .menu__list .list__item .item__a{color:#4c4c4c;text-decoration:none}
.menu .menu__list .item__i{margin-right:.2em}
.home{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-top:100vh}
.home::before{content:"";background:url(img/webdev.svg);opacity:.5;z-index:-1;position:absolute;background-repeat:no-repeat;background-size:cover;background-position:center;left:0;top:0;right:0;bottom:-60px;background-attachment:fixed;}
@media only screen and (max-width:380px) {.home::before{background-size:140vh 100vh}}
.home__a{color:#666;position:fixed;bottom:10px;right: 10px;text-decoration:none;z-index:-1;}
.home__h1{position:fixed;z-index:-1;color:rgba(33,33,33,0.6);top:65vmin;font-size:2em}
@media only screen and (min-width: 300px) and (max-width: 420px) {.home__h1{top:60vh;position:absolute}}
.arrow{position:fixed;left:50%;bottom:30px;-webkit-animation:MoveUpDown 1s ease infinite, show 0.1s both 1.5s;animation:MoveUpDown 1s ease infinite, show 0.1s both 4s;;cursor:pointer;height:25px;width:20px;z-index:-1}
.arrow .arrow__a{color:#4c4c4c;text-align:center;height:25px;width:20px;position:absolute}
@keyframes MoveUpDown {
0%,100%{bottom:30px}
50%{bottom:50px}
}
@keyframes show{
0%{opacity:0;}
100%{opacity:1;}
}
.about{background-color:#f2f2f2;color:#666;padding:2em;z-index:5;-webkit-box-shadow:0 0 10px 5px #666;box-shadow:0 0 10px 5px #666}
.about .about__header{font-size:2em;text-align:center;padding:1em 1em 1.5em}
.about .about__figure{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;padding:0 5em 1em 0em;text-align:center}
@media only screen and (min-width: 300px) and (max-width: 1440px) {.about .about__figure{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:0 0 1em}}
.about .about__figure .about__img{width:10em;height:10%;border-radius:20%;margin:0 auto 2em}
.about .about__figure .about__figcaption{font-size:1.1em;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-item-align:center;align-self:center;width:60%;text-align:left;color:#4c4c4c}
.wrapper{background-color:#fff}
.tech{margin:2em 0;z-index:10}
.tech .tech__header{font-size:2em;text-align:center;padding:2em 1em 1em;color:#666}
.tech .tech__div{display:-ms-flex;display:flex;justify-content:center;padding:1em;flex-flow:row wrap}
.tech .tech__div .div__figure{margin:4%;width:13em;text-align:center;padding:1em;background:-webkit-radial-gradient(rgba( 178,178,178,0.2), rgb( 242,242,242));background: radial-gradient(rgba( 178,178,178,0.2), rgb( 242,242,242));-webkit-box-shadow:0 0 15px 5px rgba(0,0,0,0.6);box-shadow:0 0 15px 5px rgba(0,0,0,0.6);-webkit-transition:.5s;transition:.5s;opacity:0}
.tech .tech__div .div__figure:hover{-webkit-box-shadow:0 0 25px 15px rgba(0,0,0,0.5);box-shadow:0 0 25px 15px rgba(0,0,0,0.5);-webkit-transition:.5s;transition:.5s}
.tech .tech__div .div__figure:focus{-webkit-box-shadow:0 0 25px 15px rgba(0,0,0,0.5);box-shadow:0 0 25px 15px rgba(0,0,0,0.5);-webkit-transition:.5s;transition:.5s}
.tech .tech__div .div__figure .figure__img{width:6em;margin: 0 0 1em 0;height:6em}
.tech .tech__div .div__figure .figure__img--gulp{width:4em;margin: 0 0 2em 0;height:6em}
.tech .tech__div .div__figure .figure__img--node{width:6em;margin: 0 0 2em 0;height:6em}
.tech .tech__div .div__figure .figure__img--vue{width:6em;margin: 0.3em 0 2em 0;height:5em}
.project{background-color:rgba(188,188,188,0.2);-webkit-box-shadow:0 0 10px 5px #666;box-shadow:0 0 10px 5px #666}
.project .project__header{font-size:2em;text-align:center;padding:2em 1em;color:#666}
.project .project__div{display:-ms-flex;display:flex;padding:0 0 2em 0;flex-wrap:wrap;justify-content:space-around}
.project .project__div .project__example{padding:2em;width:12.5em;text-align:center;height:9em}
.project .project__div .project__example .example__a{text-decoration: none;color:rgb( 242,242,242);height:140px;position:absolute;width:200px;transform:translateX(-100px);}
.project .project__div .project__example .example__a .example__img{border:1px solid #666;height:140px;width:202px}
.project .project__div .project__example .example__a .example__div {visibility:hidden;opacity:0;transition: visibility 0.3s linear, opacity 0.3s linear;transform: translateY(-150px);position: absolute;width: 202px;overflow:hidden;height: 140px;margin-top: 5px;}
.project .project__div .project__example .example__a .example__div .div__text {background-color: rgba(76,76,76,0.97);text-align: left;z-index:100;padding: 0.8em}
.project .project__div .project__example .example__a:hover .example__div {visibility:visible;opacity:1;transition: opacity .4s linear, visibility 0s linear;pointer-events: auto;z-index: auto;position: static;}
.visible__img{opacity:1}
.contact{height:20%;z-index:11}
.contact .contact__header{font-size:2em;text-align:center;padding-right:0.6em;margin:3em auto;color:#666}
.contact .underscore{border-bottom:2px solid transparent;-webkit-animation:example ease-in-out 2s forwards;animation:example ease-in-out 2s forwards;text-align:center}
@keyframes example {
from{border-bottom:2px solid #666;width:0;text-align:center}
to{border-bottom:2px solid #666;width:110px;text-align:center}
}
.contact .contact__div{display:-ms-flexbox;display:flex;flex-flow:row wrap;justify-content:space-around}
.contact .contact__div .contact__section{color:#4c4c4c;display:-ms-flexbox;display:flex;width:17em;margin: 1em 3em;flex-direction:column;padding:1em 2em}
.contact__icon{display:flex;margin:0.6em 0}
#fbI,#ghI,#liI,#biI,.i__gray{order:-1}
.a__gray:hover ~ .i__gray{color:#666}
#fbA:hover ~ #fbI{color:#3b5998}
#ghA:hover ~ #ghI{color:#333}
#liA:hover ~ #liI{color:#0077B5}
#biA:hover ~ #biI{color:#205081}
.contact .contact__div .contact__section .section__header{font-size:1.5em;text-align:center;margin-bottom:.5em;border-bottom:2px solid #666}
.contact .contact__div .contact__section .section__i{margin-right:.5em}
.contact .contact__div .contact__section .section__a{text-decoration:none;color:#4c4c4c}
.contact .contact__div .contact__section .section__a:hover{color:#4c4c4c;text-decoration:underline;-webkit-transition:.3s linear;transition:.3s linear}
.contact .contact__cv{font-size:1.2em;padding:.5em;border:2px solid #737373;background-color:#c8c8c8;margin:3em auto;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-item-align:center;align-self:center;-webkit-transition:.3s ease-out;transition:.3s ease-out;width:10em;text-align:center}
.contact .contact__cv:hover{background-color:#737373;border:2px solid #b2b2b2;-webkit-transition:.3s ease-in-out;transition:.3s ease-in-out;cursor:pointer}
.contact .contact__cv:visited{display:none}
.contact .contact__cv .cv__a{text-decoration:none;color:#000;-webkit-transition:.3s;transition:.3s;margin:0 auto}
.contact .contact__cv:hover .cv__a{color:#f2f2f2;-webkit-transition:.3s;transition:.3s}
.contact .contact__last{background-color:#4c4c4c;color:#f2f2f2;text-align:center;letter-spacing:.02em}
.contact .contact__last .contact__personal{padding: calc(2% + 1em);width:75%;margin:0 auto}
.contact .contact__last .contact__copyright{padding:1em;font-size:1.1em;background-color:rgba(0,0,0,0.2)}
.contact .contact__last .contact__copyright .copyright__a{color:#fff;text-decoration:none}